<!--Okno wyszukiwania, danych szczegółowych, mapa-->
<div class="outer">
    <div class="greyout">
        <div class="loading hidden">
        </div>

        <div class="detailsPlaces hidden container">

        </div>

    </div>
</div>