<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Grupowanie "marki" i przycisku rozwijania mobilnego menu -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Rozwiń nawigację</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/img/logo.png"></a>
        </div>

        <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active btn_home not-active" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#">Home</a></li>
                <!--<li class="btn_map" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a href="#">Mapa</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="col-xs-12 col-sm-12">
                        <form class="navbar-form navbar-left" action="/">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success" id="showSearch">Wyszukiwarka</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>