<div class="CRUD">
<h2>Lista miejsc CRUD</h2>

    <form id="CRUD" class="form-inline" method="post" action="/api">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Nazwa" autocomplete="off" value="aa">
            <input type="text" name="localization" class="form-control" placeholder="Lokalizacja" autocomplete="off">
        </div>
        <button type="button" class="btn btn-success" id="addPlace" onclick="getDataToAddPlace()">Dodaj</button>
    </form>
{{#if places}}
    <ul>
        {{#each places}}
            <li id="{{id}}"data-id="{{id}}"><b>Nazwa: </b> {{ name }} <br><b>Lokalizacja: </b> {{ localization }}
                <br><button type="submit" onclick='deletePlace("{{ id }}")'>Usuń</button>
                <button type="button" onclick='editPlace("{{id}}")'>Edytuj</button>
            </li>
            <div id="edit{{id}}" style="display: none">
                <input type="text" name="name" class="form-control" value="{{name}}" autocomplete="off">
                <input type="text" name="localization" class="form-control" value="{{ localization }}" autocomplete="off">
                <br><button type="button" onclick='getDataToEditPlace("{{ id }}")'>Zapisz</button>
                <button type="button" onclick='cencelEditPlace("{{id}}")'>Anuluj</button>
            </div>
        {{/each}}
    </ul>
{{/if}}



</div>