{{!--{{result}}--}}


<div class="container tilesContainer"></div>


{{> details }}

<!--<button type="button" id="but" style="margin-top: 200px ">Button</button>-->

<!--<img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=CmRaAAAAtbSN4CPM69NyML16x2DR6CRTUxWBES_I4VpP7V8OzTzym8Eg7YmbsN9IeoTfx-eOZ0qfUOBc5C_gaSaw-6vkSt_u_UyvgyknpIAfhAxmNDywRYOWRtem9DWH2HfecB1nEhDBSYOhusvNwG8stvkz3cQlGhQhQoXLueiLpzPw7xg4wOlAH1wLPg&key=AIzaSyBfPjDMb4c4hkJYLFmvF-huZ9gHPr7cSK4">-->