
<!--Okno wyszukiwania, danych szczegółowych, mapa-->
<div class="outer">
    <div class="greyout">
        <div class="loading hidden">
        </div>
        <div class="col-xs-12 col-sm-12 searchPanel">
            <div class="jumbotron">
                <h1>Wyszukiwarka miejsc</h1>
                <p>Wykorzystująca Google Places API</p>
            </div>
            <form enctype="application/json" id="form" class="form-inline" method="get" action="/send">
                <div class="form-group mytooltip">
                        <input type="text" name="loc" list="list" class="form-control" id="autocomplete" placeholder="Lokalizacja" autocomplete="off">
                        <span class="mytooltiptext hidden">Wybierz lokalizację z podpowiedzi</span>
                    <datalist id="list">
                    </datalist>
                </div>
                <div class="form-group">
                    <select name="type" class="form-control selectpicker" id="selectType">
                        <option value="store">Sklep</option>
                        <option value="restaurant">Restauracja</option>
                        <option value="church">Kościół</option>
                        <option value="parking">Parking</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="radius" class="form-control selectpicker" id="selectRadius">
                        <option value="100">100m</option>
                        <option value="500">500m</option>
                        <option value="1000">1km</option>
                        <option value="2000">2km</option>
                        <option value="4000">4km</option>
                        <option value="5000">5km</option>
                        <option value="10000">10km</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success" id="searchPlaces">Wyślij</button>
            </form>
        </div>



    </div>
</div>

