html, body {
    height: 100%;
    margin: 0;
    /*padding-top: 35px;*/
    background-color: #f4f4f4;
}

@media only screen and (min-width: 768px){
    .overflowHidden {
        overflow: hidden;
        margin-left: -17px;
    }
    .mytooltip {

        min-width: 250px;

        /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
    }
}

@media only screen and (max-width: 768px){
    .overflowHidden {
        overflow: hidden;
    }
    .mytooltip {

        min-width: 100%;

        /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
    }
}


.pac-container {
    z-index: 1042;
    position: fixed; !important;
}

#autocomplete {
    width: 100%;
}

.map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
    margin-top: -20px;
}

#map {
    width:100%; height:100%;
}


.not-active {
    pointer-events: none;
    cursor: default;
}

.mapshow {
    opacity: 1;
    pointer-events: auto;
}


.greyout {
    display: table-cell;
    vertical-align: middle;
    /*position: fixed;*/
    /*z-index: 1041;*/
    /*width: 100%;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    height: 100%;
}

.form-inline {
    text-align: center;
}

.outer {
    position: fixed;
    display: table;
    top: 0;
    /*position: absolute;*/
    height: 100%;
    width: 100%;
    background-color: rgba(50, 106, 120, 0.8);
    z-index: 1042;
    overflow: hidden;
}

.jumbotron {
    background-color: rgba(255,255,255,0);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

@keyframes searchPanel {
    from {transform:scale(1);opacity: 1}
    to {transform:scale(0);opacity: 0}
}


.hiddenPanel {
    animation-name: searchPanel;
    animation-duration: 0.5s;
    opacity: 0;
}

.glyphicon {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

h6 {
    width: 320px;
}



/*#####################*/
/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
    /*min-width: 100%;*/

    /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */
.mytooltip .mytooltiptext {
    /*visibility: hidden;*/
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 1;
    transition: opacity 1s;
}

/* Tooltip arrow */
.mytooltip .mytooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
/*.mytooltip:hover .mytooltiptext {*/
    /*visibility: visible;*/
    /*opacity: 1;*/
/*}*/

.CRUD {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    margin-top: 100px;
}

.CRUD h2 {
    text-align: center;
}

#addPlace, #CRUD>form>div>input, ul{
    margin-top: 10px;
}