/*!*TILES*!-----------------------------------*/

.describe {
    height: 100px;
    background-color: #32beb9;
    color: white;
    font-weight: bold;
}

.describe p {
    margin-left: 10px;
}

.tiles {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 2px 5px #B8B8B8;
    border: 1px solid;
    border-color: #d8d8d8;
    border-radius: 4px;
}

.tiles:hover {
    box-shadow: 0px 2px 20px #32beb9;
    border-color: #32beb9;
}

.img-thumbnail {
    height: 200px !important;
}

@keyframes tilesAnimation {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.col-md-4, .col-sm-4 {
    margin-bottom: 20px;
    animation-name: tilesAnimation;
    animation-duration: 2s;
}

.tilesContainer {
    padding-top: 70px;
}


/*@media only screen and (max-width: 350px){*/
    /*.detailsMap {*/
        /*width: 350px;*/
        /*height: 350px;*/
        /*margin-right: -35px;*/
        /*margin-left: -35px;*/
    /*}*/
    /*.detailsTiles .describe {*/
        /*height: 150px;*/
        /*background-color: #32beb9;*/
        /*color: white;*/
        /*font-weight: bold;*/
    /*}*/
    /*.details {*/
        /*width: 350px;*/
        /*margin-left: -35px;*/
        /*margin-right: -35px;*/
    /*}*/
    /*.detailsPlaces {*/
        /*padding: 0; !important;*/
    /*}*/
/*}*/


@media only screen and (max-width: 350px) {
    .detailsMap {
        width: 300px;
        height: 300px;
        margin-right: -35px;
        margin-left: -35px;
    }
    .detailsTiles .describe {
        height: 150px;
        background-color: #32beb9;
        color: white;
        font-weight: bold;
    }
    .details {
        width: 300px;
        margin-left: -35px;
        margin-right: -35px;
    }
    .detailsPlaces {
        padding: 0; !important;
    }
}



@media only screen and (max-width: 500px) and (min-width:350px) {
    .detailsMap {
        width: 350px;
        height: 350px;
        margin-right: -35px;
        margin-left: -35px;
    }
    .detailsTiles .describe {
        height: 150px;
        background-color: #32beb9;
        color: white;
        font-weight: bold;
    }
    .details {
        width: 350px;
        margin-left: -35px;
        margin-right: -35px;
    }
    .detailsPlaces {
        padding: 0; !important;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 767px){
    .detailsMap {
        width: 110%;
        height: 400px;
        margin-right: -5%;
        margin-left: -5%;
    }
    .details {
         width: 110%;
         margin-left: -5%;
         margin-right: -5%;
    }
}


@media only screen and (max-width: 767px) and (min-width: 500px){
    .detailsMap {
        width: 150%;
        height: 700px;
        margin-right: -25%;
        margin-left: -25%;
    }
    .details {
        width: 150%;
        margin-left: -25%;
        margin-right: -25%;
    }
    .detailsTiles .describe {
        height: 150px;
        background-color: #32beb9;
        color: white;
        font-weight: bold;
    }
}

.left {
    width: 34px;
    height: auto;
    position: relative;
    z-index: 1;
    /*transform:scale(2);*/
    /*opacity: 0.5;*/
}

.right {
    width: 34px;
    height: auto;
    position: relative;
    /*transform:scale(2);*/
    /*opacity: 0.5;*/
}


.right:hover {
    opacity: 1;
}

.left:hover {
    opacity: 1;
}

table {
    margin-left: auto;
    margin-right: auto;
}
/*td {*/
    /*border: dashed;*/
/*}*/

.glyphicon-chevron-left, .glyphicon-chevron-right {
    float: none;
    opacity: 0.5;
    top: 50%;
    transform:scale(3);
}

/*.glyphicon-chevron-right {*/
    /*opacity: 0.5;*/
    /*top: 50%;*/
    /*transform:scale(3);*/
/*}*/

.glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover, .glyphicon-remove:hover {
    opacity: 1;
}

.glyphicon-remove {
    opacity: 0.5;
    top: 0;
    margin-top: 10px;
    position: absolute;
    transform:scale(2);
}

.glyphicon-remove:hover {

}
/*.detailsPlaces*/





.tilesContainer h6 {
    display: inline;
}

.address h6 {
    display: inline;
}





/*.tilesDetails {*/

/*}*/

/*.outerTilesDetails {*/

/*}*/

/*----------------------------------------------------*/